#patents{
  padding-top: 80px;
}

.seemore{
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  padding: 12px 25px 12px 25px;
  border: #288DCB 1px solid;
  transition: all 0.5s ease-in-out;
}
.seemore:hover{
  color: rgb( 255, 255, 255 );
  text-decoration: none;
  background: #288DCB;
}

.seemore-arrow{
  width: 40px;
  height: 19px;
}

.light-pricing > .type{
  font-weight: 600;
  font-size: 24px;
}

.navbar-inverse .navbar-nav > li > a{
  font-weight: normal;
}

.team-wrapper > .description{
  height: 330px;
}

.team-inner{
  height: 400px;
}
