.patent-section{
  transition: all 0.5s ease-in-out;
}
.patent-section:hover{
  cursor: pointer;
  filter: opacity( 70% );
}
.patent-section:hover .patent-issue{
  background: #171717;
  border: #288DCB 1px solid;
}

.patent{
  display: flex;
  flex-direction: column;
  background: rgba( 255, 255, 255, 0.2 );
  border: #288DCB 1px solid;
  border-radius: 20px 20px 0px 0px;
  padding: 22px 37px 22px 37px;
  height: 550px;
}

.patent-serialnumber{
  font-size: 16px;
  margin-bottom: 5px;
}

.patent-name{
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.patent-image{
  height: 80%;
  border-radius: 6px;
  margin-bottom: 21px;
}

.patent-issue{
  background: #288DCB;
  border: #288DCB 1px solid;
  padding: 9px 21px 9px 21px;
  width: 60%;
  transform: translate( 0, -50% );
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}

.overlay-close{
  width: 100%;
  text-align: right;
}

#patentDetail{
  width: 60%;
  height: 60%;
}

.overlay-close-image{
  width: 2vw;
  border-radius: 50%;
  transform: translate( 50%, 50% );
}
.overlay-close-image:hover{
  cursor: pointer;
}

.patent_detail{
  /* width: 60%;
  height: 65%; */
  width: 100%;
  height: 100%;
  display: flex;
  background: rgb( 255, 255, 255 );
  padding: 35px 24px 35px 24px;
  color: rgb( 0, 0, 0 );
  border: #288DCB 1px solid;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.patent_detail-image{
  width: 30%;
  border-radius: 6px;
}

.patent_detail-info{
  width: 70%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.patent_detail-serial_number{
  font-size: 14px;
  padding-bottom: 9px;
}

.patent_detail-name{
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  padding-bottom: 11px;
}

.patent_detail-description{
  background: none;
  border: none;
  white-space: pre-wrap;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  overflow-y: auto;
  flex-grow: 1;
}

.patent_detail-buy{
  display: inline-block;
  background-color: #288DCB;
  color: rgb( 255, 255, 255 );
  border: #288DCB 1px solid;
  padding: 10px 60px 10px 60px;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}
.patent_detail-buy:hover{
  background-color: rgb( 255, 255, 255 );
  color: #288DCB;
  text-decoration: none;
}

#patentContacts{
  width: 35%;
}

.patent_contacts{
  display: flex;
  justify-content: center;
  background: rgb( 255, 255, 255 );
  padding: 12px 0px 32px 0px;
  color: rgb( 0, 0, 0 );
  border: #288DCB 1px solid;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.patent_contacts .inline-block{
  display: inline-block;
}

.patent_contacts .header{
  font-family: "Oswald", sans-serif !important;
  font-size: 21px;
  padding-bottom: 0px;
}

.patent_contacts .help{
  font-family: "Ubuntu";
  font-size: 12px;
  margin-bottom: 20px;
  color: #A5A5A5;
}

.patent_contacts .personal{
  font-family: "Ubuntu";
  font-size: 11px;
  margin-top: 5px;
}

.patent_contacts .personal input[type="checkbox"]{
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.patent_contacts .personal input[type="checkbox"] + label{
  position: relative;
	padding: 0 0 0 21px;
	cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #A5A5A5;
}
.patent_contacts .personal input[type="checkbox"] + label::before{
  content: '';
  position: absolute;
  left: 0;
  width: 13px;
  height: 13px;
  border: #E1E1E1 1px solid;
  border-radius: 4px;
}
.patent_contacts .personal input[type="checkbox"]:checked + label::before{
  background-color: #288DCB;
}

.patent_contacts input[type="text"]{
  outline: none;
  border: #E1E1E1 1px solid;
  padding: 12px 0px 12px 15px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  width: 100%;
}

.patent_contacts input::placeholder{
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}

.patent_contacts button{
  display: inline-block;
  background-color: #288DCB;
  color: rgb( 255, 255, 255 );
  border: #288DCB 1px solid;
  padding: 10px 60px 10px 60px;
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
  width: 100%;
}
.patent_contacts .disabled{
  filter: grayscale( 100% );
}
.patent_contacts .enabled:hover{
  cursor: pointer;
  background-color: rgb( 255, 255, 255 );
  color: #288DCB;
  text-decoration: none;
}
