#search{
  margin-top: 120px;
}

#searchContainer{
  margin-bottom: 20px;
}

#patentsRow{
  margin-top: 35px;
}

.search{
  display: flex;
  background-color: rgb( 255, 255, 255, 0.05 );
  padding: 13px 15px 13px 33px;
  border: #288DCB 1px solid;
}

.search > input{
  flex-grow: 1;
  background: none;
  border: none;
  color: rgb( 255, 255, 255 );
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  outline: none;
}
.search > input::placeholder{
  color: rgb( 255, 255, 255 );
}

.magnifier:hover{
  cursor: pointer;
}

.dropdown-custom{
  width: 100%;
  background-color: rgba( 255, 255, 255, 0.05 );
}
.dropdown-custom:hover .header > .img > img{
  transform: rotate( 180deg );
}

.dropdown-custom:hover, .dropdown-custom:hover .list{
  background-color: rgb( 255, 255, 255 );
  color: #000000;
}

.dropdown-custom:hover .header{
  border-bottom: none;
  padding-bottom: 15px;
  color: #A5A5A5;
}

.dropdown-custom > .header, .dropdown-custom > .list{
  border: #288DCB 1px solid;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.dropdown-custom > .header{
  padding: 13px 0px 14px 33px;
  text-transform: none;
  display: flex;
}

.dropdown-custom > .header > .title{
  flex-grow: 1;
}

.dropdown-custom > .header > .img{
  margin-right: 19px;
}

.dropdown-custom > .header > .img > img{
  transition: all 0.2s ease-in-out;
}

.dropdown-custom > .list{
  border-top: none;
  padding-top: 5px;
}

.dropdown-custom > .list div{
  padding: 17px 0px 17px 33px;
}

.dropdown-custom > .list div:hover{
  background-color: #EEEEEE;
}

.dropdown-custom .list .selected, .dropdown-custom .list .checked{
  background-color: #858585;
}

.count-on-page{
  color: #288DCB;
}

.count-on-page button{
  background: none;
  border: none;
  outline: none;
}

.count-on-page .current-count{
  text-decoration: underline;
}

.pagination{
  justify-content: flex-end;
  color: #288DCB;
}

.pagination button{
  padding: 0px 10px 0px 10px;
}

.toolbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 25px;
  z-index: 1;
}

.toolbar div{
  width: 25px;
  height: 25px;
  background-color: #5F5F5F;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.16 );
  z-index: 1;
}

.toolbar div:hover{
  cursor: pointer;
}

.toolbar div img{
  width: 15px;
  height: 15px;
  z-index: 1;
}


.toolbar-hidden > div{
  display: none;
}

.patent-section{
  margin-top: -25px;
}

@media( max-width: 1199px ){
  .dropdown-custom{
    margin-bottom: 20px;
  }
}

@media( max-width: 760px ){
  .count-on-page{
    text-align: center;
  }

  .pagination{
    justify-content: center;
  }
}
