.navbar_custom_a{
  color: #288DCB !important;
  transition: all 0.5s ease-in-out;
}

.navbar_custom_a:hover{
  color: rgb( 255, 255, 255 ) !important;
}

#search{
  margin-top: 120px;
}

#patentsRow{
  margin-top: 55px;
}

.search{
  display: flex;
  background-color: rgb( 255, 255, 255, 0.5 );
  padding: 13px 15px 13px 33px;
  border: #288DCB 1px solid;
}

.search > input{
  flex-grow: 1;
  background: none;
  border: none;
  color: rgb( 255, 255, 255 );
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  outline: none;
}
.search > input::placeholder{
  color: rgb( 255, 255, 255 );
}

.magnifier:hover{
  cursor: pointer;
}

.toolbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 25px;
  z-index: 1;
}

.toolbar div{
  width: 25px;
  height: 25px;
  background-color: #5F5F5F;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.16 );
  z-index: 1;
}

.toolbar div:hover{
  cursor: pointer;
}

.toolbar div img{
  width: 15px;
  height: 15px;
  z-index: 1;
}


.toolbar-hidden > div{
  display: none;
}

.patent-section{
  margin-top: -25px;
}
