.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown:hover{
  cursor: pointer;
}

.dropdown:hover .list{
  cursor: pointer;
  visibility: visible;
}

.dropdown > .list{
  position: absolute;
  visibility: hidden;
  width: 100%;
  max-height: 200px;
  box-sizing: border-box;
  overflow-y: auto;
}
