.navbar_custom_a{
  color: #288DCB !important;
  transition: all 0.5s ease-in-out;
}

.navbar_custom_a:hover{
  color: rgb( 255, 255, 255 ) !important;
}

.navbar_custom_li{
  border-left: rgb( 255, 255, 255 ) 2px solid;
}

#patents{
  padding-top: 80px;
}

.seemore{
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  padding: 12px 25px 12px 25px;
  border: #288DCB 1px solid;
  transition: all 0.5s ease-in-out;
}
.seemore:hover{
  color: rgb( 255, 255, 255 );
  text-decoration: none;
  background: #288DCB;
}

.seemore-arrow{
  width: 40px;
  height: 19px;
}
